body {
    margin: 0;
    background: black;
}

.container2{
    position: absolute;
    width: 550px;
    height: 550px;
    left: 62px;
    top: 64px;

    background: #1F2937;
}

#title {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    margin: 0;

    color: #FFFFFF;

}

#rand {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    margin: 0;

    color: #4ADF86;
}

#desc {
    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 205px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
}

#gen {
    /* Button */
    margin-top: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;

    position: absolute;
    width: 191px;
    height: 42px;
    left: 52px;
    top: 284px;

    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    /*text*/
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#field1, #field1-el {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;

    background: #273549;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;

    text-align: center;

    color: #55F991;
}

#field2, #field2-el{
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 396px;

    background: #273549;
    border-radius: 6px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;

    text-align: center;

    color: #55F991;
}